$basic-text-selection_color: #fff;
$primary-highlight_color: rgb(223, 6, 44);
$back-and-text_color: #1e4e98;
$header-footer-line_color: #f3f5f9;
$selection-of-irrelevant-text_color: #bababd;

@font-face {
    font-family: "agenda-light";
    src: url("../fonts/agenda-light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

// @mixin hamburger_transition {
//     transition: all 0.3s;
//     box-sizing: border-box;
// }


* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #e5e5e5;
}

.container {
    margin: 0 auto;
    padding: 0 165px;
    max-width: 1170px;
    background-color: $basic-text-selection_color;
}

p,
h1,
li,
a {
    font-family: "agenda-light";
}

//PRELOADER
.loaderArea {
    background: linear-gradient(225deg, $back-and-text_color, $primary-highlight_color);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.loader {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.loader:before,
.loader:after {
    content: "";
    height: 40px;
    width: 40px;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.loader:before {
    animation: animate 2s infinite linear;
}

@keyframes animate {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(180deg) skew(360deg);
    }
}

.loader:after {
    animation: animate2 2s infinite linear;
}

@keyframes animate2 {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(-180deg) skew(-360deg);
    }
}


.invisible {
    display: none;
}

.opacityNone {
    opacity: 0;
}